
  .custom-drawer .rs-drawer-body {
    padding:30px;
    color: white;
    width: 100%;
  }
  .custom-drawer .rs-drawer-header {
    background-color: #dde2d2;
    padding: 20px;
    text-align: center;
    color: #1d808f;

    }
    .menu-icon-button {
        width: 180px;     
        background-color:rgba(100,114,129, 0.6);
        color: white ;
      }    
      .menu-icon-button:hover {
        background-color: #28a745;
      }
      .text-icon-button{
        color: aliceblue;
        background-color:rgba(100,114,129, 0.8);
      }
      .text-icon-button:hover {
        background-color: #28a745;
        color:azure;
      }
      