.custom-nav-item{
    background-color:#b1aeaed5 ;
    height: auto;
    font-size: 20px;
    width: 160px;
    
}
.custom-nav-item .a {
    text-decoration: none;
    
}
.custom-nav-item a:hover {
  text-decoration: none;
  
}

.custom-header .custom-nav-item a .navbar-item:active{
background-color:#1dc4ee ;

}
.custom-header .nav-link {
    text-decoration: none;  
    margin-right: 10px;
    color: rgb(235, 195, 143);
}
.imgHeader {
    height: 40px;
}
 /*****************************DROPDOWN_ITEM******************************/
 .custom-dropdown-title {
    color: #1dc4ee; 
    font-size: 20px;
    
}
.custom-dropdown-title .rs-dropdown-menu{
    background-color: rgba(7, 8, 8, 0.8);
  }
 .custom-header .custom-dropdown-item {
    padding: 5px 20px; 
    font-size: 20px;
    color: #1abbe4; 
    width: auto;
}
.custom-header .custom-dropdown-item:hover {
  font-size: 20px;
}

.custom-header  .custom-dropdown-item-static {
  padding: 5px 150px;
  font-size: 20px;
  cursor:auto;
}
.custom-header .custom-dropdown-item-static:hover,
.custom-header .custom-dropdown-item-static:active {
  padding: 5px 150px; 
  font-size: 20px; /* Размер текста */
  cursor:default;
}
.custom-header  .custom-dropdown-item-login {
  padding: 20px ;
  font-size: 20px;
  cursor:auto;
  color: #1abbe4; 
  width: 130px;
  text-align: center;
}
.custom-header .custom-dropdown-item-login:hover,
.custom-header .custom-dropdown-item-login:active {
  padding: 20px; 
  font-size: 22px; /* Размер текста */
  cursor:pointer;
  align-items: center;
}
