
.custom-breadcrumb .breadcrumb-item {
    padding: 2px;
    margin-right: 0px;
    display: inline-block;
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
    
}
    .custom-breadcrumb .breadcrumb-item:hover {
        text-decoration: dashed;
    }

.custom-breadcrumb .breadcrumb-item-active {
    border:  thick #007bff;
    padding: 2px;
    margin-right: 5px;
    cursor: default;
    color: #3daf39;
}

.custom-breadcrumb {
    background-color: #424242d8;
    border-radius: 8px;
}
.custom-breadcrumb .breadcrumb-separator {
    color: rgb(0, 0, 0)
  };