/**********************MAIN*******************************/
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
html, body {
    height: 100%;
}
 
/**********************HEADER/FOOTER*******************************/
.custom-header,
.footer {
    background-color: #263444; /* Темный фон для заголовка */ 
    color: #08d4f3;
    width: auto;
}

    .custom-header .navbar-brand {
        color: #08d4f3;
        font-size: 24px;
    }

    .custom-header .rs-nav-item {
        color: #f5e9fc;
    }

        .custom-header .rs-nav-item:hover {
            color: #f8f9fa;
            background-color: #495057; /* Фон при наведении */
        }

    .custom-header .nav-link {
        color: none;
        text-decoration: none;
    }

        .custom-header .nav-link:hover {
            color: #7ce2f1; /* Цвет ссылок при наведении */
        }
.custom-dropdown-title {
            color: #ecf0f1; /* Белый цвет для заголовка */
          
        }
        
 .custom-nav-item a {
            color: #f8feff;
            text-decoration: none;
        }
        /*****************************DROPDOWN_ITEM******************************/
        .custom-header .custom-dropdown-item {
    padding: 5px 30px; /* Отступы для элементов */
    background-color: #1E2633;
    font-size: 14px; /* Размер текста */
    color: #ecf0f1; 

}
.custom-header .custom-dropdown-item-static {
  padding: 5px 10px; /* Отступы для элементов */
  background-color: #0f50b8;
  font-size: 14px; /* Размер текста */
  color: #ecf0f1; 

}
.custom-header .custom-dropdown-item:hover {
        color: #fff;
        background-color: #13599e; /* Фон при наведении */
    }
    .dropdown-title{
        color: white;
    }

 /**********************CONTAINER*******************************/
.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color:#eff3fa ; 
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    
}
    /**********************CONTENT*******************************/
    .content 
    {
        flex: 1;       
        background-color:#eff3fa ; 

    }
    /**********************SIDEBAR*******************************/
    .sidebar {
        background-color: #4e6b8b;
        height: auto;
        width: auto;
        margin-right: 10px;
        margin-left: -15px;
    }

/**********************TABLE*******************************/
.query-view-container {
    padding: 2px;
    margin: 0 0 0 20px;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: auto;
}

.query-view-title {
    font-size: 22px;
    font-weight: bold;
   margin-top: 2px;
    text-align: center;
    color: #333;
}

.clickable-cell {
    cursor: pointer;  
}

/**********************FORM*******************************/
.form-background {
    background: #fff;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
/**********************GRID*******************************/
.query-grid {
    background: #3498ff;
  color: #fff;
  padding: 10px;
}


/**************************BURGER_MENU****************************/
.rs-navbar {
    background-color: #343a40;
    border: none;
  }
  
  .rs-navbar-brand {
    color: #ffffff;
  }
  
  .rs-navbar-nav .rs-nav-item {
    padding: 10px;
  }
  
  .rs-form-inline .rs-form-group {
    margin-right: 20px;
  }
  
  .rs-btn {
    background-color: #008CBA;
    color: white;
  }
  
  .rs-btn:hover {
    background-color: #006994;
  }
  /**********************ICON_BUTTON_FILTER************************************/
  .menu-icon-button {
    color: #6747dd;
    
  }    
  .menu-icon-button:hover {
    background-color: #28a745 !important; /* Зеленый цвет на фоне при наведении */
    color: white !important; /* Белый текст при наведении */
  }
  .menu-icon-button:hover .rs-icon {
    fill: white !important; /* Белая иконка при наведении */
  }
  .custom-drawer .rs-drawer-body {
    background-color: #525a64;
    padding: 20px;
    color: white;
  }
  .custom-drawer .rs-drawer-header {
    background-color: #dde2d2;
    padding: 20px;
    text-align: center;
    color: #08d4f3;
    }
  /************************DATE_PICKER********************************************/
  .custom-date-picker .rs-picker-toggle, 
.custom-select-picker .rs-picker-toggle, 
.custom-input-number .rs-input-number {
  width: 100%;
  margin-bottom: 10px;
}
/***********************BUTTON*****************************/
.custom-button {
    background-color: #2980b9;
    border-color: #2980b9;
    width: 100%;
  }
  .custom-button:hover, 
.custom-button:focus {
  background-color: #28a745 !important;
  border-color: #1f618d;
}
.rs-btn .rs-btn-subtle {
  background-color: #2980b9;
}

.scrollable-dropdown-menu {
  max-height: 200px;
  overflow-y: auto;  
  width: 200px;
}