.rs-table {
    border: 1px solid #ebc7c7;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.rs-table-header-cell {
    background-color: #ece46d;
    color: #333;
    font-weight: bold;
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.rs-table-cell {
    text-align: left;
    border-bottom: 1px solid #c70b0b;
}

.rs-table-cell:hover {
    background-color: #af3d3d;
}

.rs-table-cell .clickable-cell {
    color: #29bfca;
    cursor: pointer;
}

.rs-table-cell .clickable-cell:hover {
    text-decoration: underline;
}

.rs-table-cell-sortable:hover {
    background-color: #185ea3;
}


.rs-table .rs-table-pagination {
    background-color: #639bac;
    padding: 10px 0;
}