.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(163, 165, 163, 0.808);  
}
.content{
    background-image: url('/src/assets/LogoPortal.png');
}