.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(45, 168, 32, 0.808);  
}
.content{
    background-image: url('/src/assets/LogoPortal.png');
}