.rs-navbar {
    background-color: #343a40;
    border: none;
  }
  
  .rs-navbar-brand {
    color: #ffffff;
  }
  
  .rs-navbar-nav .rs-nav-item {
    padding: 10px;
  }
  
  .rs-form-inline .rs-form-group {
    margin-right:20px;
  }
  
  .rs-btn {
    background-color: #008CBA;
    color: white;
  }
  
  .rs-btn:hover {
    background-color: #006994;
  }
  .bm-menu {
    background: rgba(33, 35, 43, 0.95);
    padding: 1.5em 1.5em 0 4em;
    font-size: 1.15em;
    margin-top: 30px;
    width: 195px;
    transition: transform 0.5s ease-in-out;
  }

  .bm-overlay{
    margin-top: 28px;
    width: 300px;
    background: rgba(0, 0, 0, 0.3);
  }
  .bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out, color 0.3s;
    color: #0bf1f1;
  }
  .bm-item-list {
    color: #b8b7ad;
  }
  .bm-item:hover {
    color: #ffffff;
    transform: scale(1.1);
  }
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  .bm-burger-bars {
    background: #373a47;
  }
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  .bm-cross {
    background: #bdc3c7;
  }

  .bm-menu-wrap {
    transition: transform 0.3s ease-in-out;
    transition-delay: 0.1s;
  }
  .bm-menu-wrap-open {
    transform: translateX(0);
  }
  
  .bm-menu-wrap-close {
    transform: translateX(-100%);
  }
  